{% extends 'base.html' %}

{% block body %}

<main>
    <div class="text-center first-profile-box">
        <img class="shadow-small rounded-circle" width="30%"
            src="https://gravatar.com/avatar/{{ roomdata.md5 }}?s=1000">
    </div>
    <h4 class="text-center mb-5">{{ roomdata.username }}</h4>

    <div class="title text-center mb-3">
        {{ roomdata.title }}
    </div>
    <div class="alert alert-secondary text-center" role="alert">
        {{ roomdata.detail | replace('\n','<br>') | safe}}
    </div>
    <br>

    <!-- 大事なやつ -->
    <audio id="local-stream"></audio>
    <div id="remote-streams"></div>
    <input class="d-none" type="text" placeholder="Room Name" id="room-id" value="{{ roomdata.md5 }}">
    <!-- 大事なやつ -->


</main>

<div class="fixed-bottom mb-3">
    <div class="section1 text-center">
        <button class="btn btn-2 btn-dark" data-bs-toggle="modal" data-bs-target="#menu">
            <i class="bi bi-mic-fill"></i>
        </button>
    </div>
</div>

<div class="modal fade" id="menu" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="flex-menu">
                    <button id="join-trigger" type="button" class="btn btn-1 btn-dark m-2">
                        <i class="bi bi-mic"></i>
                    </button>
                    <button id="leave-trigger" type="button" class="btn btn-1 btn-dark m-2">
                        <i class="bi bi-mic-mute"></i>
                    </button>
                    {% if current_user.username == roomdata.username %}
                    <a href="/del/{{ roomdata.id }}">
                        <button id="leave-trigger" type="button" class="btn btn-1 btn-outline-dark m-2">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const Peer = window.Peer;

    (async function main() {
        const localAudio = document.getElementById('local-stream');
        const joinTrigger = document.getElementById('join-trigger');
        const leaveTrigger = document.getElementById('leave-trigger');
        const remoteAudios = document.getElementById('remote-streams');
        const roomId = document.getElementById('room-id');
        let myPeerId = "{{ current_user.username }}";

        const localStream = await navigator.mediaDevices
            .getUserMedia({
                audio: true,
                video: false,
            })
            .catch(console.error);

        localAudio.muted = true;
        localAudio.srcObject = localStream;
        localAudio.playsInline = true;

        await localAudio.play().catch(console.error);


        const peer = (window.peer = new Peer(myPeerId, {
            key: 'beefba1e-18cf-4db1-a21c-cc0f57ca647c',
            debug: 3,
        }));

        joinTrigger.addEventListener('click', () => {
            if (!peer.open) {
                return;
            }

            const room = peer.joinRoom(roomId.value, {
                mode: 'sfu',
                stream: localStream,
            });

            room.once('open', peerId => {
                alert("ルームに参加しました!")
                myPeerId = peer.id;
            });

            room.on('peerJoin', peerId => {
                alert(`${peerId} が入室しました!!`)
            });

            room.on('stream', async stream => {
                const newAudio = document.createElement('audio');
                newAudio.srcObject = stream;
                newAudio.playsInline = true;
                newAudio.setAttribute('data-peer-id', stream.peerId);
                newAudio.classList.add('otherVideo');
                newAudio.setAttribute('data-is-Call', 'no');

                remoteAudios.append(newAudio);
                await newAudio.play().catch(console.error);
            });

            room.on('peerLeave', peerId => {
                const remoteAudio = remoteAudios.querySelector(
                    `[data-peer-id=${peerId}]`
                );
                remoteAudio.srcObject.getTracks().forEach(track => track.stop());
                remoteAudio.srcObject = null;
                remoteAudio.remove();
                alert(`${peerId} が退出しました`)
            });

            room.once('close', () => {
                sendTrigger.removeEventListener('click', onClickSend);
                Array.from(remoteVideos.children).forEach(remoteVideo => {
                    remoteVideo.srcObject.getTracks().forEach(track => track.stop());
                    remoteVideo.srcObject = null;
                    remoteVideo.remove();
                });
            });

            leaveTrigger.addEventListener('click', () => room.close(), { once: true });
        });
        peer.on('error', console.error);
    })();
</script>
{% endblock %}